rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Utility functions
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    
    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }
    
    function isRole(role) {
      return isSignedIn() && getUserData().role == role;
    }
    
    function isAdmin() {
      return isRole('admin');
    }

    match /users/{userId} {
      allow read: if true;
      allow create: if isOwner(userId);
      allow update: if (isOwner(userId) && 
                        !request.resource.data.diff(resource.data).affectedKeys().hasAny(['role', 'uid', 'email']) &&
                        (!request.resource.data.diff(resource.data).affectedKeys().hasAny(['status']) || request.resource.data.status != 'approved')
                      ) ||
                      (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['profileViews'])) ||
                      isAdmin();
      allow delete: if isAdmin();
    }

    match /jobs/{jobId} {
      allow read: if true;
      allow create: if isRole('recruiter') || isRole('admin');
      allow update: if (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['views'])) ||
                      (resource.data.recruiterId == request.auth.uid) || 
                      isAdmin();
      allow delete: if (resource.data.recruiterId == request.auth.uid) || isAdmin();
    }

    match /applications/{applicationId} {
      allow read: if isSignedIn() && (
        resource.data.candidateId == request.auth.uid || 
        resource.data.recruiterId == request.auth.uid || 
        isAdmin()
      );
      allow create: if isRole('candidate') && request.resource.data.candidateId == request.auth.uid;
      allow update: if (isRole('recruiter') && resource.data.recruiterId == request.auth.uid) || 
                      (isRole('candidate') && resource.data.candidateId == request.auth.uid) ||
                      isAdmin();
      allow delete: if isAdmin();
    }
  }
}

